# Node
node_modules/

# Build output
/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Coverage / test
coverage/

# Env
.env
.env.*
